/* tree className
  layout__Products */

// custom antd
.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #ef99ac !important;
  a {
    color: #ef99ac !important;
  }
}
.ant-pagination-item {
  &:hover {
    border-color: #ef99ac !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    a {
      color: #ef99ac !important;
    }
  }
}
table,
th,
td {
  border: 3px solid #dddddd;
  border-collapse: collapse;
  border-bottom: 6px solid #dddddd;
}
td {
  padding: 5px;
  text-align: center;
}
.layout__Products {
  .layout__Products-title {
    .layout__Products-title-left {
      color: #333333;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: Playfair Display;
      font-weight: 550;
      padding-bottom: 1rem;
      span {
        padding-right: 0.2em;
      }
    }
    &-right {
      position: relative;
      &-addProduct {
        button {
          margin-top: 0.5em;
          float: right !important;
          background: #ef99ac;
          color: #fff;
          border: none;
          clear: both;
          outline: none;
          border-radius: 2px;
          padding: 0px 10px;
          svg {
            line-height: 30px;
            height: 30px;
            float: left;
            font-size: 18px;
          }
          span {
            margin-right: 0.4em;
            line-height: 30px;
            height: 30px;
            float: left;
            font-size: 16px;
            font-weight: 500;
          }
          &:hover {
            background: #db768e;
            color: #fff;
            box-shadow: 0 10px 10px 0 rgba(17, 15, 15, 0.2);
            transition: all 300ms linear 0s;
          }
        }
      }
    }
  }
  .layout__Products-table {
    .layout__Products-table-rowTitle {
      th {
        background: #ef99ac;
        padding: 8px;
        text-align: center;
        color: #7c7c7c;
        font-size: 16px;
      }
    }
  }
  .layout__Products-Pagination {
    margin: 0.5em 0em;
    &-col {
      ul {
        float: right !important;
      }
    }
  }
}
