// Custom Ant Design
.ant-modal-body {
  padding: 0px !important;
}

.layout_modal {
  height: 650px;
  &_title {
    padding: 0px 24px 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    
    &_complete{
       background:#ef99ac ;
       color: #fff;
       transition: all 0.25s ease 0ms;
    }
    &--boder {
      border-right: 1px solid #333333;
      position: relative;
    }
    &-categogry {
      height: 33%;
    }
    &-inforProduct {
      border-top: 1px solid #333;
      height: 33%;
    }
    &-image {
      border-top: 1px solid #333;
      height: 34%;
    }
    &_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      transition: all 0.25s ease 0ms;
      font-family: Muli, sans-serif;
      font-size: 14px;
      font-weight: 700;
      &_icons {
        margin-bottom: 5px;
      }
    }
  }

  &_detail {
    padding: 24px 28px 24px 0px;
    &--magrin{
        margin-top: 12px;
    }
    &_title {
      &_icons {
        transition: all 0.25s ease 0ms;
        font-family: Muli, sans-serif;
        font-weight: 700;
        border-bottom: 1px solid #333333;
        span {
          margin-left: 5px;
          font-size: 20px;
          margin-top: -8px;
        }
      }
    }
    &_content {
      margin-top: 12px;
      &--Row{
        margin-bottom: 12px;
      }
      &--Col:first-child{
        padding-right:5%;
      }
      &--Col:last-child{
        padding-left:5%;
      }
      &--title {
        margin-bottom: 4px;
        font-size: 16px;
        span {
          font-weight: 700;
          color: red;
        }
      }
      &--select {
        margin-bottom: 12px;
      }      
      &--input {
        input {
          width: 90%;
          line-height: 1.5715;
          transition: all 0.3s;
          height: 32px;
          color: rgba(0, 0, 0, 0.65);
          padding: 0 11px;
          background-color: #fff;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
        }
        &-right {
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
}
