// custom antd
.ant-menu-inline-collapsed {
  width: 64px !important;
}
.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0px !important;
  text-overflow: clip;
}
.ant-menu-inline-collapsed > .ant-menu-item .anticon {
  margin: 0 auto;
  left: 0px;
  right: 0px;
  display: block;
}
.ant-layout-sider,
.ant-layout-sider-trigger {
  background: #fff !important;
}
.ant-layout-sider-trigger {
  color: rgba(0, 0, 0, 0.65) !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #ef99ac !important;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(239, 153, 172, 0.45);
}
.ant-menu-item {
  height: 42px !important;
}
.ant-menu-item .anticon {
  font-size: 18px !important;
}
.ant-menu-inline-collapsed > .ant-menu-item .anticon {
  line-height: 42px !important;
  font-size: 18px !important;
}
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ec297b !important;
}
.ant-menu-item:hover {
  color: #fff !important;
  background: #ef99ac !important;
  border-radius: 8px;
}
// custom antd SubMenu
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0px !important;
}
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .anticon {
  margin: 0 auto;
  left: 0px;
  right: 0px;
  display: block;
}
.ant-menu-submenu-title:hover {
  color: #fff !important;
  background: #ef99ac !important;
  border-radius: 8px;
}

.ant-menu-submenu-selected {
  color: #fff !important;
  background: #ef99ac !important;
  border-radius: 8px;
  font-size: 18px;
}

.ant-menu-submenu > .ant-menu {
  background-color: #ededed !important;
  padding: 0 5px !important;
}
.ant-menu-submenu-arrow {
  font-size: 18px !important;
  color: #fff !important;
}
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .anticon {
  font-size: 18px !important;
  line-height: 45px !important;
}
.ant-menu-submenu-title .anticon {
  font-size: 18px !important;
}

.anticon-menu-unfold,
.anticon-menu-fold {
  padding-left: 15px !important;
  font-size: 18px !important;
  color: #000 !important;
}
.ant-layout-content {
  
   flex: none !important;
}
.logo {
  width: 70%;
  height: 50px;
  margin: 10px auto;
  left: 0px;
  right: 0px;
}
.logo > img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 2s;
  vertical-align: middle;
}
.layout__menu {
  height: 100vh !important;
  padding: 0px 8px !important;
}
.layout__menu-collapsed_faile {
  height: 100vh !important;
}
.layout__sider {
  width: 64px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
