.layout__Itemproduct{
    .layout__Itemproduct-td{
        height: 75px;
    }
    .layout__Itemproduct-image{
        padding: 5px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .layout__Itemproduct-name{
        text-overflow: ellipsis;
    }
}