.layout_loading{
    height: 100%;
    width: 100%;
    background:#ffffff73;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    &_detail{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}