body {
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: tabular-nums;
    line-height: 1.5715;
}
.Layout__App{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}