// custom
.ant-modal-body {
  padding: 0px !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: 1px solid #ef99ac !important;
  outline: none !important;
}
.ant-input {
  padding-left: 0.4em !important;
  outline: none !important;
  &:hover {
    border: 1px solid #ef99ac !important;
    box-shadow: 0 5px 5px rgba(239, 153, 172, 0.45) !important;
  }
}
.layout__Modal-title {
  padding: 0.4em 0em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #7c7c7c;
  background-color: #ef99ac;
  &--box {
    text-align: center;
  }
}
.layout__Modal-addProduct {
  padding: 0px 1.6em 0em 1.6em;
  &_left {
    &-input {
      margin-bottom: 1em;
      &--lable {
        width: 100%;
        font-size: 16px;
        span {
          margin-left: 0.1em;
          color: red;
        }
      }
      &--detail {
        input {
          width: 90%;
          padding: 0.25em 0.6em;
          outline: none;
          background-color: #fff;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          
          &:focus {
            border: 1px solid #ef99ac;
            box-shadow: 0 5px 5px rgba(239, 153, 172, 0.45);
          }
        }
      }
    }
  }
  &_right {
    &-input {
      margin-bottom: 1em;
      &--lable {
        width: 100%;
        font-size: 16px;
        span {
          margin-left: 0.1em;
          color: red;
        }
      }
      &-codeColor {
        &-box {
          &-bnt {
            padding: 0.35em 0.6em;
            margin-left: 0.5em;
            background: #ef99ac;
            color: #fff;
            border: none;
            border-radius: 5px;
            outline: none;
            &-icon {
              color: #fff;
              position: absolute;
              top: 50%;
              left: 15%;
              transform: translate(-50%, -50%);
              font-size: 16px !important;
            }
            span {
              margin-left: 0.8em;
              font-weight: 500;
              font-size: 1em;
            }
            &:hover {
              background: #db768e;
              color: #fff;
              box-shadow: 0 5px 5px 5px 0.5 rgba(17, 15, 15, 0.2);
              transition: all 500ms linear 0s;
            }
          }
        }
      }
      &--detail {
        input {
          width: 100%;
          padding: 0.25em 0.4em;
          outline: none;
        }
        textarea {
          width: 100%;
          padding: 0.25em 0.4em;
          outline: none;
          height: 60px;
          &:focus {
            border: 1px solid #ef99ac;
            box-shadow: 0 5px 5px rgba(239, 153, 172, 0.45);
          }
        }
      }
      &-lable-long {
        padding-right: 0.4em;
      }
    }
  }
  &_Upload {
    padding: 0px 1.6em 0.8em 1.6em;
    &-row {
      &--label {
        font-size: 16px;
        span {
          margin-left: 0.1em;
          color: red;
        }
      }
    }
    &-Image {
      padding: 0.5em 0em 0.5em 0em;
      &-box {
        margin: 0px 1em 0.5em 0em;
        width: 100%;
        padding: 0.5em;
        border: 1px dashed #7c7c7c;
        border-radius: 2px;
        cursor: pointer;
        transition: border-color 0.3s ease;
        img {
          max-width: 100%;
          max-height: 100%;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
  &_SaveReset {
    padding: 0.5em;
    &--button {
      float: right;
      button {
        text-align: center;
        background-color: #ef99ac;
        border: 1px solid #cccc;
        padding: 2px 15px;
        border-radius: 4px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        width: 80px;
        &:hover {
          background: #db768e;
          color: #fff;
          box-shadow: 0 5px 5px 5px 0.5 rgba(17, 15, 15, 0.2);
          transition: all 300ms linear 0s;
        }
      }
    }
  }
  &_boxItemColor {
    margin-top: 0.5em;
    &-col {
      padding: 0.8em 0.4em 0.4em 0.4em;
      position: relative;
      margin: 5px 5px 5px 0px;
      background: #f0f2f5;
      border-radius: 2px;
      &-detail {
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        span {
          margin: 0px !important;
        }
      }
    }
  }
  &_lableUpload {
    position: relative;
    padding: 0.5em 1em;
    background: #ef99ac;
    color: #ffffff;
    &--icon {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    span {
      margin-left: 2em;
      font-weight: 500;
      font-size: 1em;
    }
    &:hover {
      background: #db768e;
      color: #fff;
      box-shadow: 0 5px 5px 5px 0.5 rgba(17, 15, 15, 0.2);
      transition: all 500ms linear 0s;
    }
  }
}
#ProductPicture {
  visibility: hidden;
}
.input-typeNumber {
  border: 1px solid #7c7c7c;
}
::placeholder {
  color: #d9d9d9;
}